<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="severity" value="warning"/>
  <module name="FileLength"><property name="max" value="400"/></module>
  <module name="TreeWalker">
    <module name="CyclomaticComplexity"><property name="max" value="10"/></module>
    <module name="NPathComplexity"><property name="max" value="200"/></module>
    <module name="BooleanExpressionComplexity"/>
    <module name="NestedIfDepth"><property name="max" value="2"/></module>
    <module name="MethodLength"><property name="max" value="60"/></module>
    <module name="ParameterNumber"><property name="max" value="5"/></module>
    <module name="MagicNumber"/>
    <module name="EmptyBlock"/>
    <module name="EqualsHashCode"/>
    <module name="MissingSwitchDefault"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="UnusedImports"/>
  </module>
</module>
